body {
  background: url("../images/background.jpg") 100% 0 no-repeat;
  display: block;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.centerThis {
  margin: auto;
  text-align: center;
}

.loginCard {
  margin: auto;
  text-align: center;
  margin-top: 20vh;
  width: 60%;
}

.stat {
  font-family: "Josefin Sans", sans-serif;
}
