* {
  font-family: 'Raleway', sans-serif;
}

body {
  background: url("../images/background.jpg") 100% 0 no-repeat;
  display: block;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fithubLogoLg {
  margin-top: 20vh!important;
  margin-bottom: 2vh!important;
  width: 80v
}

.fithubLogoMembers {
  margin-top: 4vh!important;
  margin-bottom: 2vh!important;
  width: 40vw;
}

.centerThis {
  margin: auto;
  text-align: center;
}

.loginCard {
  margin: auto;
  text-align: center;
  margin-top: 20vh;
  width: 60%;
}

.stat {
  font-family: "Josefin Sans", sans-serif;
}

.float-right {
  float: right;
}

.navbarFithub {
  background-color: rgb(89, 109, 116);
  color: rgb(252, 252, 252);
}

.card {
  background-color: rgba(89, 109, 116, 0.363);
  margin-top: 10vh;
}

.whiteText {
  color: white;
}